.profile-username {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 4px;
}

.profile-username h2 {
    margin-bottom: 0px;
}

.profile-username mat-icon {
    cursor: pointer;
}

mat-form-field {
    width: 340px;
}