<mat-sidenav-container class="container">
    <mat-sidenav class="nav" mode="side" opened>
        <div class="nav-menu">
            <h1 class="mat-headline-5" style="text-align: center;">Planning Go</h1>

            <a mat-stroked-button color="link" type="button" routerLink="/profile" routerLinkActive="active"
                ariaCurrentWhenActive="page">Profile</a>

            <a mat-stroked-button color="link" type="button" routerLink="/session" routerLinkActive="active"
                ariaCurrentWhenActive="page">Session</a>

            <button mat-flat-button color="accent" type="button" (click)="logout()" [disabled]="isLogoutLoading">Logout</button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <ng-content />
    </mat-sidenav-content>
</mat-sidenav-container>