<h1 class="mat-headline-4" style="text-align: center;">Planning Go</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
        <button *ngIf="username" matSuffix mat-icon-button type="button" aria-label="Clear"
            (click)="username.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
        <ng-container *ngIf="username.invalid && (username.dirty || username.touched)">
            <mat-error *ngIf="username.errors?.['required']">
                Username is required.
            </mat-error>
            <mat-error *ngIf="username.errors?.['minlength']">
                Username must be at least 3 characters long.
            </mat-error>
            <mat-error *ngIf="username.errors?.['maxlength']">
                Username must be less than 25 characters long.
            </mat-error>
        </ng-container>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <button *ngIf="password" matSuffix mat-icon-button type="button" aria-label="Clear"
            (click)="password.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
        <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
            <mat-error *ngIf="password.errors?.['required']">
                Password is required.
            </mat-error>
            <mat-error *ngIf="password.errors?.['minlength']">
                Password must be at least 4 characters long.
            </mat-error>
            <mat-error *ngIf="password.errors?.['maxlength']">
                Password must be less than 60 characters long.
            </mat-error>
        </ng-container>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"
        [disabled]="loginForm.invalid || loginForm.pristine || isLoading">
        Login
    </button>
    <br />
    <button mat-raised-button color="accent" routerLink="/auth/register" (click)="$event.preventDefault()">Register</button>
</form>